/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0D0B10 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #EFDFC5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #EFDFC5; background-color: rgba(240,198,116,0.4)}
.cm-s-nqqwal { background-color: #0D0B10; color: #EFDFC5; }
.cm-s-nqqwal span.cm-builtin { color: #70B3B4; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #414242; }
.cm-s-nqqwal span.cm-keyword { color: #4284a7; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #569F54; }
.cm-s-nqqwal span.cm-def { color: #7FB76F; }
.cm-s-nqqwal span.cm-variable { color: #f0c674; }
.cm-s-nqqwal span.cm-variable-2 { color: #7FB76F; }
.cm-s-nqqwal span.cm-string { color: #70B3B4; }
.cm-s-nqqwal span.cm-string-2 { color: #70B3B4; }
.cm-s-nqqwal span.cm-number { color: #7FB76F; }
.cm-s-nqqwal span.cm-tag { color: #4284a7; }
.cm-s-nqqwal span.cm-property { color: #f0c674; }
.cm-s-nqqwal span.cm-attribute { color: #f0c674; }
.cm-s-nqqwal span.cm-qualifier { color: #569F54; }
.cm-s-nqqwal span.cm-meta { color: #7FB76F; }
.cm-s-nqqwal span.cm-header { color: #4284a7; }
.cm-s-nqqwal span.cm-operator { color: #4284a7; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(127,183,111,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #4284a7; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1B1923); }
