#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0D0B10",
    floating_border_color: "#f0c674",
    focused_border_color: "#EFDFC5",
    background_color: "#0D0B10",
)